
.admin-login-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index:9999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(246, 241, 241, 0.3); /* Less blur */
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(1px); /* Minimized blur */
  right:20px;
}

.admin-login-box {
  background-color: white;
  padding: 55px 45px;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 380px;
  height:420px;
  
  margin-top: 48px;
}

.admin-close-btn {
  position: absolute;
  top: 12px;
  right: 15px;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  color: #201f1f;
}

.admin-login-title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 34px;
  color: #333;
}

.admin-login-form {
  display: flex;
  flex-direction: column;
  gap: 26px;
  
}

.input-wrapper {
  position: relative;
  margin-bottom: 20px;
}

.input-wrapper input {
  width: 300px;
  padding: 12px 12px 12px 40px;
  border: 1px solid #ccc;
  border-radius: 12px;
  font-size: 14px;
  background-color: white;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: #777;
  pointer-events: none;
  font-size: 16px;
  /* cursor: pointer; */
  font-size: 16px;
   z-index: 1;
}

.toggle-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #777;
  font-size: 16px;
  cursor: pointer;
   z-index: 1;
}

.continue-btn {
  background-color: hsl(44, 100%, 48%);
  border: none;
  padding: 10px 90px;
  border-radius: 12px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
  width: 300px;
  margin-top: 7px;
  
}

.continue-btn:hover {
  background-color: #e0a800;
  
}

.error-text {
  color: red;
  font-size: 13px;
  margin-bottom: -10px;
  text-align: center;
}




