footer {
  background-color: #000; /* Black background */
  color: #fff; /* White text */
  text-align: center;
  padding: 12px 0;
   /* Ensure no space above */
}

/* Remove gap between footer and Food Court */
/* .food-court-section {
  margin-bottom: 0;
  padding-bottom: 0;
} */
