footer {
  background-color: #000; 
  color: #fff; 
  text-align: center;
  padding: 12px 0;
   
}




footer {
  background: black;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
