/* HEADER */
.Home-Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.Header-left {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.Header-logo {
  height: 40px;
  width: auto;
}

/* .Header-right {
  display: flex;
  align-items: center;
  gap: 0px;
} */

.Header-link {
  background: none;
  border: none;
  font-size: 106px;
  color: hsl(240, 3%, 7%);
  cursor: pointer;
  text-decoration: none;
}

.Header-link:hover {
  text-decoration: underline;
}

/* .login-btn {
  font-weight: bold;
  
  color: rgb(77, 197, 224);
  text-decoration: black;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
} */



.header-right {
  display: flex;
  align-items: center;
  gap: 20px; /* space between login and app download */
}

.login-link {
  color: black;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
}

.BsPersonLock {
  color: #27b10b;
  font-size: 60px; /* Increase size */
  cursor: pointer;
}
